<% layout("/layouts/boilerplate")  %>
<body>
    <h2>All Listings</h2>
    <ol>
        <% for(let listing of listings) { %>
            <li><%= listing.title %> <a href="/listings/<%= listing._id %>">details</a></li>
        <% } %>
    </ol>
</body>