body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/* Navbar */
.navbar {
    height: 5rem;
    background-color: #c4c1e0;  /* white */
}

.fa-compass {
    color: #345995;
    font-size: 2rem;
}

.nav-link {
    color: #222 !important;
}


/* Footer */
.f-info {
    height: 8rem;
    background-color: #c4c1e0;   /* #ebebeb*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-brand {
    margin-bottom: 0.7rem;
}

.f-info-links a {
    margin-right: 1rem;
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}


/* Index Page - Cards */
.row a {
    text-decoration: none;
}

.listing-card {
    border: none;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    height: 20rem;
}

.img:hover {
    opacity: 0.8;
}

.card-body {
    padding: 0;
}


/* New & Edit Pages - Btn*/
.add-btn, .edit-btn {
    color: white;
    background-color: #b0a9eb;
    border: none;
}

.add-btn:hover {
    color: white;
    background-color: #345995;
}

.edit-btn:hover {
    color: white;
    background-color: #345995;
}


/* Show Page */
.show-img {
    height: 45vh;
    width: 70%;
}

.delete-btn {
    color: white;
    background-color: #ff7881;
}

.delete-btn:hover {
    color: white;
    background-color: red;
}

/* Map - Show Page */
#map {
    height: 400px;
    width: 100%;
}